<%= render "shared/header" %>
<div class="main">
  <div class="h1">MyPage</div>
      <% if user_signed_in?  %>
        <% if current_user.image.attached? %>
          <%= image_tag current_user.image, class:"icon" %>
          <%= link_to current_user.name,  edit_user_registration_path %>
        <%else%>
          <%= image_tag "default.png", class:"icon"%>
          <%= link_to current_user.name,  edit_user_registration_path %>
        <%end%>
      <% else %>
        <%= image_tag "default.png", class:"icon"%>
      <% end %>
  <%= link_to 'アウトプット', new_post_path %>
<div>
  <% @posts.each do |post|%>
    <%= link_to post.title, post_path(post.id) %>
  <% end %>
</div>
<div>
  <% if @like_posts.present? %>
    <% @like_posts.each do |post|%>
      <%= link_to post.title, post_path(post.id) %>
    <% end %>
  <% else %>
    <p>保存した投稿はありません</p>
  <% end %>
</div>