<%= render "shared/header" %>
<div class="main">
  <div class="h1">MyPage</div>
      <% if user_signed_in?  %>
        <% if current_user.image.attached? %>
         <div class="icon_area">
          <%= image_tag current_user.image, class:"icon" %>
          <%= link_to current_user.name,  edit_user_registration_path, class:"user_name"%>
        </div>
        <%else%>
          <div class="icon_area">
            <%= image_tag "default.png", class:"icon"%>
            <%= link_to current_user.name,  edit_user_registration_path, class:"user_name" %>
          </div>
      <%end%>
      <% else %>
        <div class="icon_area">
          <%= image_tag "default.png", class:"icon"%>
        </div>
      <% end %>
<div class="output_link">
  <%= link_to 'アウトプットする', new_post_path, class:"output__link" %>
</div>
<div class="post_all">
  <div class="post_area">
    <div class="h2">今日の投稿</div>
    <% @posts.each do |post|%>
      <div class="post_content">
        <%= link_to post.title, post_path(post.id), class:"post_title" %>
      </div>
    <% end %>
  </div>
  <div class="post_area">
    <div class="h2">1日後</div>
    <% @yesterday_posts.each do |post| %>
        <div class="post_content">
        <%= link_to post.title, problem_post_path(post.id), class:"post_title" %>
        </div>
    <% end %>
  </div>
  <div class="post_area">
    <div class="h2">3日後</div>
      <% @three_days_later_posts.each do |post| %>
        <div class="post_content">
        <%= link_to post.title, problem_post_path(post.id), class:"post_title" %>
        </div>
      <% end %>
  </div>
  <div class="post_area">
    <div class="h2">7日後</div>
      <% @seven_days_later_posts.each do |post| %>
        <div class="post_content">
        <%= link_to post.title, problem_post_path(post.id), class:"post_title" %>
        </div>
      <% end %>
  </div>
</div>
<div class="other_post">
 <div class="others_post_title">保存した投稿</div>
  <% if @like_posts.present? %>
    <% @like_posts.each do |post|%>
      <div class="other_post_contents">
        <%= link_to post.title, post_path(post.id), class:"other_post_content" %>
      </div>
    <% end %>
  <% else %>
    <p>保存した投稿はありません</p>
  <% end %>
</div>