<%= render "shared/second_header"%>
<div class="mains">
  <div class="show_main">
      <% if @post.image.attached?%>
          <div>
            <%= image_tag @post.image.variant(resize: '200x200') %>
          </div>
      <% else %>
      <% end %>
      <div class="show_box">
        <div class="show_title">
          問題
        </div>
        <div class="show_content">
          <%= @problem %>
        </div>
      </div>
      <div class="show_btn">
        <%= link_to "解答を見る", post_path(@post.id), class:"show_index_btn" %>
      </div>
      <div class="back_btn">
        <%= link_to "マイページに戻る", root_path, class:"show_index_btn" %>
      </div>
    </div>
</div>
