<%= render "shared/second_header"%>
<div class="main">
  <div class="show_main">
      <% if @post.image.attached?%>
        <div class="show_image">
          <div class="show__box">
            <div class="show_title">
            タイトル
            </div>
            <div class="show__title">
            <%= @post.title%>
            </div>
          </div>
          <div>
            <%= image_tag @post.image.variant(resize: '200x200') %>
          </div>
        </div>
      <% else %>
        <div class="show_box">
          <div class="show_title">
            タイトル
          </div>
          <div class="show__title">
            <%= @post.title%>
          </div>
        </div>
      <% end %>
      <div class="show_box">
        <div class="show_title">
          問題
        </div>
        <div class="show_content">
          <%= @problem %>
        </div>
      </div>
      <div class="show_btn">
        <%= link_to "解答を見る", post_path(@post.id), class:"show_index_btn" %>
      </div>
      <div class="back_btn">
        <%= link_to "マイページに戻る", root_path, class:"show_index_btn" %>
      </div>
    </div>
</div>
