<%= render "shared/second_header"%>
<div class="main">

<div>
  タイトル：<%= @post.title %>
</div>
<div>
  内容：<%= @post.content %>
</div>
<div>
  投稿者：<%= @post.user.name%>
</div>
<div>
  投稿日：<%= l @post.created_at%>
  </div>
<div id="like-btn">
  <%= render partial: "likes/like", locals: { post: @post} %>
</div>
<% if current_user == @post.user %>
  <%= link_to '削除', post_path, data: {turbo_method: :delete} %>
<% end %>
<div>
<%= link_to "マイページに戻る", root_path %>
</div>