<%= render "shared/second_header"%>
<div class="main">
  <div class="show_main">
      <% if @post.image.attached?%>
        <div class="show_image">
          <div class="show__box">
            <div class="show_title">
            タイトル
            </div>
            <div class="show__title">
            <%= @post.title%>
            </div>
          </div>
          <div>
            <%= image_tag @post.image.variant(resize: '200x200') %>
          </div>
        </div>
      <% else %>
        <div class="show_box">
          <div class="show_title">
            タイトル
          </div>
          <div class="show__title">
            <%= @post.title%>
          </div>
        </div>
      <% end %>
      <div class="show_box">
        <div class="show_title">
          内容
        </div>
        <div class="show_content">
          <%= @problem %>
        </div>
      </div>
      <div class="show_box">
        <div class="show_title">
          投稿者
        </div>
        <div class="show_name">
          <%= @post.user.name %>
        </div>
      </div>
      <div class="show_box">
        <div class="show_title">
          投稿日
        </div>
        <div class="show_created" >
          <%= l @post.created_at %>
        </div>
      </div>
      <div>
        <%= @post.content %>
      </div>
      <div id="like-btn", class="show_btn">
        <%= render partial: "likes/like", locals: { post: @post} %>
      </div>
      <% if current_user == @post.user %>
        <div class="show_btn">
          <%= link_to '削除する', post_path, data: {turbo_method: :delete}, class:"show___btn" %>
        </div>
      <% end %>
      <div class="back_btn">
        <%= link_to "マイページに戻る", root_path, class:"show_index_btn" %>
      </div>
    </div>
</div>